li{
	background:rgb(86, 190, 168);
	place-items: center;
	font-family: cursive;
	display: block;
	margin: 10px 0;
}
label {
	background: rgb(86, 190, 168);
    place-items: center;
    font-family: cursive;
	display: block;
	margin: 10px 0;
}
head {
	background: rgb(86, 190, 168);
    place-items: center;
    font-family: cursive;
	display: grid;

}
body {
	background: rgb(86, 190, 168);
    place-items: center;
    font-family: cursive;
	display: grid;

}
table {background:rgb(86, 190, 168);
    place-items: relative;
    font-family: cursive;
	display: block;
	margin: 10px 0;
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid rgb(86, 190, 168);;
}
